body{
    background: url(../img/daisee_black.png) no-repeat center center scroll;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:1.42857143;
    color:#c8c8c8;
    background-color:#272b30;
    min-height: 850;
}
.bc-infos {
    text-align: right;
    font-style: italic;
}
.chart-container {
	box-sizing: border-box;
	width: auto;
	height: 300px;
	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 0px solid #ddd;
	background: #272b30;
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	align: right;
}
.flot-placeholder {
	width: 100%;
	height: 100%;
	font-size: 16px;
	line-height: 1.2em;
	color:#c8c8c8;
}
.legendLabel{
    color:#c8c8c8;
}
.current{
    color:#c8c8c8;
}
