<!DOCTYPE html>
<html lang="en">
<head>

  <meta content="utf-8">
  <title>DAISEE</title>
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/custom.css">

</head>

<body>

  <!-- <nav class="navbar navbar-inverse navbar-fixed-top"> -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">DAISEE</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#status">Network</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class ="row">
      <br>
      <br>
      <br>
      <h6 class="bc-infos">Ethereum status : latest block number: <strong id="latestBlock"></strong>, latest block timestamp: <strong id="latestBlockTimestamp"></strong></h6>
      <h6 class="bc-infos">Contract address : <strong id="contract"></strong></h6>
      <h6 class="bc-infos">Token address : <strong id="token"></strong></h6>
    </div>
  </div>

  <div class="container">
    <div class ="row">
      <div class="col-md-4">
        <h3><font id="nodeName"></font> (<font id="nodeType"></font>)</h3>
        <h4>My account</h4>
        <h5>Address: <br><strong id="coinbase"></strong></h5>
        <h5>Token Balance (DaiseeCoin): <br><strong id="balance"></strong></h5>
        <h5>Energy :</h5>
        <h5>> Total consumption (Watt): <br><strong id="energyConsumption"></strong></h5>
        <h5>> Total production  (Watt): <br><strong id="energyProduction"></strong></h5>
      </div>

      <div class="col-md-8">
<!--     		<div class="chart-container">
              <div id="flot-placeholder" style="width:auto;height:250px"></div>
              <h5><center>Current consumption : <strong id="current">-</strong> W</center></h5>
    		</div> -->
      </div>
    </div>
  </div> <!-- container -->

  <div class="container">
    <div class="row">
      <div>
        <h3 class="sub-header">Purchased energy:</h3>
        <div class="table-responsive">
          <table class="table table-striped" id="purchased">
            <thead>
              <tr>
                <th>n°</th>
                <th>from</th>
                <th>consumed</th>
                <th>remain</th>
                <th>total</th>
              </tr>
            </thead>
            <tbody id="energystat"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div>
        <h3 class="sub-header">Latest energy transactions <font size =4> (since <strong id="startedAt"></strong>)</font>:</h3>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>block#</th>
                <th>from</th>
                <th>to</th>
                <th>transactions</th>
              </tr>
            </thead>
            <tbody id="transactions"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- container -->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <script src="static/js/web3.min.js"></script>
  <script src="static/js/abi.js"></script>
  <script src="static/js/token-abi.js"></script>
  <script src="static/js/transactions.js"></script>

<!--   <script src="static/js/flot/jquery.flot.js"></script>
  <script src="static/js/flot/jquery.flot.time.js"></script>
  <script src="static/js/graph.js"></script> -->

</body>

</html>
