contract:
  address: ''
token:
  address: ''
user:
  login: ''
  pwd: ''
  coinbase: ''
  name: ''
  typ: ''
  url: ''
  sensorId:
  sensorLogin: ''
  sensorPassword: ''
  sensorSource: ''
  lat:
  lon:
